
.carousel {
  width: 90%;
  margin: auto;
  margin-top: 50px;

  &-title {
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
  }

  &-container {
    height: 200px;
    width: 100%;
    position: relative;

    &-prev,
    &-next {
      position: absolute;
      padding: 0 20px;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .75);
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &-items {
      display: flex;
      flex-shrink: auto;
      overflow-x: auto;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        width: calc(25% - 3px);
        min-width: calc(25% - 3px);
        margin-right: 3px;
        height: 100%;
        background-color: #587D71;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 100%;
          opacity: .75;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
