<div class="carousel">

  <div class="carousel-title">{{ title }}</div>

  <div class="carousel-container">
    <div class="carousel-container-prev" (click)="prevScroll()"><mat-icon>keyboard_arrow_left</mat-icon></div>

    <div class="carousel-container-items" #carousel>
      <div class="carousel-container-items-item" *ngFor="let image of images">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>

    <div class="carousel-container-next" (click)="nextScroll()"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>

</div>
