
.navbar {
    width: 100vw;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 5px 0 black;
    position: fixed;
    top: 0;
    z-index: 9999;

    img {
      height: 50px;
      margin-left: 40px;
    }

    &-items {
      padding-right: 40px;
      display: flex;

      .button {
        height: 30px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border-radius: 5px;
        margin-left: 10px;
        color: #fff;
        text-transform: uppercase;

        &:hover {
          color: #ccc;
          cursor: pointer;
        }
      }

      .search {
          display: flex;
          height: 30px;
          width: 200px;
          position: relative;
          align-items: center;

          input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            border: none;
            box-shadow: none;
            padding: 5px 10px;
          }

          .mat-icon {
            position: absolute;
            right: 0;
            border-radius: 20px;
            padding-right: 10px;
            background-color: #fff;

            &:hover {
              cursor: pointer;
            }
          }
      }
    }
}
