<div class="navbar">

  <img src="assets/img/bifrost.png" alt="bifrost">

  <div class="navbar-items">
    <div class="search">
      <input type="text" placeholder="Search" (keyup)="setPesquisa($event.target.value)" [value]="pesquisa">
      <mat-icon>search</mat-icon>
    </div>

    <div class="button" (click)="onSubmit()">Login</div>
  </div>

</div>
