<app-navbar></app-navbar>

<div class="carousels">
  <app-carousel title="celpa"></app-carousel>
  <app-carousel title="cepisa"></app-carousel>
  <app-carousel title="ceal"></app-carousel>
  <app-carousel title="cemal"></app-carousel>
</div>
